<!doctype html>
<html lang="en-GB">
<head>
  <title>Hello uid-input!</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../node_modules/@bonitasoft/uid-common/src/theme/theme.css">
</head>
<body>
<div id="demo"></div>

<script type="module">
  import {html, render} from 'lit';
  import '../dist/src/uid-input';

  render(
    html`
      <uid-input id="1" placeholder="Type a value" type="number" value="10" min="1" max="10"
                 label-position="top" label-width="5" required></uid-input>
      <uid-input id="2" label="My text label" placeholder="Type a value" type="text" value="10" max="100"
                 min-length="3" max-length="20" label-position="left" label-width="3" required></uid-input>
      <uid-input id="3" label="My readonly label" placeholder="Type a value" type="text" value="10"
                 min-length="3" max-length="20" label-position="left" label-width="3" readonly></uid-input>
      <div class="green-is-better">
        <uid-input id="2" label="My Green label" placeholder="Type a value" type="text" value="10" max="100"
                   min-length="3" max-length="20" label-position="left" label-width="3" required></uid-input>
      </div>
    `,
    document.querySelector('#demo')
  );
</script>
</body>
</html>
