<!doctype html>
<html lang="en-GB">
<head>
  <title>Hello uid-title!</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../node_modules/@bonitasoft/uid-common/src/theme/theme.css">
  <style>

    body {
      background: #fafafa;
    }
  </style>
</head>
<body>
<div id="demo"></div>

<script type="module">
  import {html, render} from 'lit';
  import '../dist/src/uid-title';

  render(
    html`
      <div>
        <uid-title id="title1" text="A level 1 title" level="Level 1"></uid-title>
        <uid-title id="title2" text="A level 2 title" alignment="center" level="level 2"></uid-title>
        <uid-title id="title2" text="With &lt;i&gt;Italic&lt;/i&gt; in title" alignment="left" level="Level 3"
                   allow-html></uid-title>
        <uid-title id="title2" text="With &lt;i&gt;Italic&lt;/i&gt; in title but without allow-html property" alignment="left"
                   level="Level 4"></uid-title>
      </div>
    `,
    document.querySelector('#demo')
  );
</script>
</body>
</html>
