<!doctype html>
<html lang="en-GB">
<head>
  <title>Hello uid-text!</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../node_modules/@bonitasoft/uid-common/src/theme/theme.css">
</head>
<body>
  <div id="demo"></div>

  <script type="module">
    import { html, render } from 'lit';
    import '../dist/src/uid-text';

    const textValue = '<b><i> My text in bold </br> and italic</i></b>';
    render(
      html`
        <uid-text label-position="left" label-width="3"
                  text="${textValue}" allow-html></uid-text>
        <uid-text label="My label" label-position="top" label-width="3"
                  text="${textValue}" alignment="right" allow-html></uid-text>
      `,
      document.querySelector('#demo')
    );
  </script>
</body>
</html>
