@import 'bonita.css';

body {
  background: #fafafa;
}

uid-input::part(input) {
  outline: none !important;
  color: var(--text-color);
  border: 1px solid var(--input-color);
  border-radius: 2px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

uid-textarea::part(textarea) {
  padding: 6px 12px;
  color: var(--text-color);
  border: 1px solid var(--input-color);
  border-radius: 4px;
  background-color: #fff;
  background-image: none;
}

uid-input::part(label),
uid-text::part(label),
uid-text::part(paragraph),
uid-title::part(title),
uid-textarea::part(label){
  color: var(--text-color);
}

uid-input::part(input):focus:valid:not(:read-only),
uid-textarea::part(textarea):focus:valid:not(:read-only){
  box-shadow: 0 0 5px var(--input-color);
  border: 1px solid var(--input-color);
}

uid-input::part(label):invalid,
uid-input::part(input):invalid,
uid-textarea::part(input):invalid,
uid-textarea::part(textarea):invalid{
  color: var(--state-danger-text);
  border:1px solid var(--state-danger-text);
}

uid-input::part(label):invalid:focus,
uid-input::part(input):invalid:focus,
uid-textarea::part(label):invalid:focus,
uid-textarea::part(textarea):invalid:focus {
  box-shadow: 0 0 5px var(--state-danger-text);
}

uid-textarea::part(textarea):read-only,
uid-input::part(input):read-only {
  background-color: var(--primary-disabled-bg);
  border-color: var(--primary-disabled-border);
  cursor: not-allowed;
}

uid-textarea::part(label)::after,
uid-input::part(label)::after {
  color: var(--state-danger-text);
}

.green-is-better>uid-input::part(input),
.green-is-better>uid-input::part(label) {
  color: green !important;
  border-color: green;
}
